---
import PageLayout from "../../layouts/Page.astro";
import { Image } from "astro:assets";

const HEADINGS = [
  {
    depth: 2,
    slug: "entidades",
    text: "Entidades organizadoras",
  },
  {
    depth: 2,
    slug: "comite",
    text: "Comité Organizador",
  },
];
---

<PageLayout frontmatter={{ title: "Organización" }} headings={HEADINGS}>
  <section id="entidades">
    <h2>Entidades organizadoras</h2>

    <div class="persona">
      <Image
        src="/2025/img/logo-anem-2018-480x480px.png"
        alt="ANEM"
        width={150}
        height={150}
        loading="eager"
      />

      <div>
        <strong id="anem-name"
          >Asociación Nacional de Estudiantes de Matemáticas (ANEM)</strong
        >
        <a
          class="text-sm italic"
          href="https://www.anem.es/web/"
          target="_blank"
          aria-describedby="anem-name"
          >Página web <i class="ti ti-external-link"></i></a
        >

        <p>
          Creada dos años después del primer ENEM, la ANEM representa a los
          estudiantes de Matemáticas de nuestro país y es la encargada de
          coordinar la organización del ENEM y la elección de su sede.
        </p>
      </div>
    </div>

    <div class="persona">
      <!-- TODO Edit image to fix this -->
      <Image
        src="/2025/img/ugr-g1467.png"
        alt="UGR"
        width={150}
        height={150}
        class="dark:bg-clear dark:p-1.5 !h-auto"
        loading="eager"
      />

      <div>
        <strong id="ugr-name">Universidad de Granada (UGR)</strong>
        <a
          class="text-sm italic"
          href="https://www.ugr.es/"
          target="_blank"
          aria-describedby="ugr-name"
          >Página web <i class="ti ti-external-link"></i></a
        >

        <p>
          La Universidad de Granada cuenta con más de 500 años de historia.
          Entre otros méritos, es reseñable que se encuentra entre las 100
          universidades con mejores Grados en Matemáticas y Estadística y el
          puesto 20 del mundo en Ciencias de la Computación. Actúa, a través de
          la <a href="https://defc.ugr.es" target="_blank"
            >Delegación de Estudiantes de la Facultad de Ciencias</a
          >, como organizadora principal.
        </p>
      </div>
    </div>
  </section>

  <section id="comite">
    <h2>Comité Organizador</h2>

    <div class="persona">
      <Image
        src="/2025/img/equipo/adrian-garcia-barragan.jpg"
        alt="UGR"
        width={150}
        height={150}
        class="!h-auto"
        loading="eager"
      />

      <div>
        <a href="https://www.linkedin.com/in/adrygarcia/" target="_blank"
          ><strong>Adrián García Barragán</strong></a
        >
        <em>Presidencia</em>

        <p>
          Estudiante del Grado en Matemáticas, ha sido Presidente y
          Vicepresidente de AMAT, Coordinador de la UGR en la ANEM y ha
          participado en muchos otros órganos, actividades y eventos de la
          representación y participación estudiantil que le han requerido de una
          amplia capacidad organizativa e institucional.
        </p>
      </div>
    </div>

    <div class="persona">
      <Image
        src="/2025/img/equipo/ivan-salido-cobo.jpg"
        alt="UGR"
        width={150}
        height={150}
        class="!h-auto"
        loading="eager"
      />

      <div>
        <a href="https://www.linkedin.com/in/ivansalidocobo/" target="_blank"
          ><strong>Iván Salido Cobo</strong></a
        >
        <em>Tesorería y Secretaría</em>

        <p>
          Graduado en Matemáticas y estudiante del Máster en Ciberseguridad, ha
          ostentado la Tesorería de la DGE, Secretaría de la DEFC y actualmente
          es Secretario en AMAT y miembro en la Comisión Económica de la UGR.
        </p>
      </div>
    </div>

    <div class="persona">
      <Image
        src="/2025/img/equipo/lucas-deuña-ocampo.jpg"
        alt="UGR"
        width={150}
        height={150}
        class="!h-auto"
        loading="eager"
      />

      <div>
        <a href="https://www.linkedin.com/in/deunaocampo/" target="_blank"
          ><strong>Lucas de Uña Ocampo</strong></a
        >
        <em>Dirección Técnica y Digital</em>

        <p>
          Estudiante del Grado en Ingeniería Informática, ha sido Vocal de Web
          en la ANEM y Director técnico y digital del CEEBI, para el cuál ha
          desarrollado su aplicación. Además ha ostentado cargos con amplia
          carga en relaciones institucionales en AMAT, ARQUS, la DGE y la DEFC.
        </p>
      </div>
    </div>

    <div class="persona">
      <Image
        src="/2025/img/equipo/paula-garcia-linares.jpg"
        alt="UGR"
        width={150}
        height={150}
        class="!h-auto"
        loading="eager"
      />

      <div>
        <a
          href="https://www.linkedin.com/in/paula-inmaculada-garc%C3%ADa-linares-b40484363/"
          target="_blank"><strong>Paula García Linares</strong></a
        >
        <em>Dirección de Actividades</em>

        <p>
          Estudiante del Grado en Matemáticas, ha sido Vocal de Actividades en
          AMAT, ha asistido a numerosos eventos relacionados con las matemáticas
          como las tres últimas ediciones del ENEM, además de participar como
          voluntaria en el ECM celebrado en Sevilla en 2024.
        </p>
      </div>
    </div>

    <div class="persona">
      <Image
        src="/2025/img/equipo/elisa-rivera-sanmartin.jpg"
        alt="UGR"
        width={150}
        height={150}
        class="!h-auto"
        loading="eager"
      />

      <div>
        <a
          href="https://www.linkedin.com/in/elisa-rivera-5bb050319/"
          target="_blank"><strong>Elisa Rivera Sanmartín</strong></a
        >
        <em>Dirección de Difusión</em>

        <p>
          Estudiante del Grado en Matemáticas, es Vocal de Comunicación de AMAT
          y participa como voluntaria en la Comisión de Comunicación de la DEFC
          y la Vocalía de Comunicación de la ANEM.
        </p>
      </div>
    </div>
  </section>
  <section id="voluntarios">
    <h2>Voluntarios</h2>
    <div class="persona">
      <div>
        <strong>Alejandro del Saz Martínez</strong>
        <em>Gestor de Apoyo a la búsqueda de financiación</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Pedro Alejandro López Octavio</strong>
        <em>Gestor de Apoyo logístico a los viajes y el transporte</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Juan Manuel García Gonzalo</strong>
        <em
          >Gestor de Apoyo logístico al contacto con los ponentes y Relaciones
          Institucionales</em
        >
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Julia Corchero Ramiro</strong>
        <em
          >Gestora de Apoyo logístico y a la difusión, el diseño y las redes
          sociales</em
        >
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>María Teresa Torres Aguilar</strong>
        <em>Gestora de Apoyo a la difusión, el diseño y las redes sociales</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Martina Riera Ojea</strong>
        <em>Vountaria en el Área de Actividades Formativas</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Jenifer Kupriyanova Kupriyanova</strong>
        <em
          >Vountaria en las Áreas de Relaciones Institucionales y Diseño y
          Difusión</em
        >
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Carmen Jalón Michán</strong>
        <em>Vountaria en el Área de Activdiades Lúdico-Culturales</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Juan Megías Pellejero</strong>
        <em>Vountario en el Área de Diseño y Difusión</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>David González León</strong>
        <em>Vountario en el Área Web</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Diego Palacios Gallardo</strong>
        <em>Vountario en el Área de Actividades Formativas</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Juan Antonio García Zoyo</strong>
        <em>Vountario en el Área Web</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Sonia Olave Aricha</strong>
        <em>Vountaria en las Áreas Logística y de Diseño y Difusión</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Paula Sánchez López</strong>
        <em>Vountaria en el Área de Diseño y Difusión</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Marina Benito Gascueña</strong>
        <em>Vountaria en el Área de Diseño y Difusión</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Jorge Martínez Fernández</strong>
        <em>Vountario en el Área Web</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Jorge Merino Esteban</strong>
        <em>Vountario en el Área de Diseño y Difusión</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Irene Fernández Ruiz</strong>
        <em>Vountaria en el Área de Diseño y Difusión</em>
      </div>
    </div>
    <div class="persona">
      <div>
        <strong>Carlota Huerta Domingo</strong>
        <em>Vountaria en el Área de Diseño y Difusión</em>
      </div>
    </div>
  </section>
</PageLayout>

<style>
  .persona {
    @apply flex flex-col sm:flex-row items-center mb-5;
  }

  .persona img {
    @apply size-48 sm:size-40 rounded-full m-0 mb-3 sm:mb-0;
  }

  .persona div {
    @apply pl-4 pb-0;
  }

  .persona strong {
    @apply text-lg;
  }

  .persona p {
    @apply mt-1;
  }
</style>
