---
import MainLayout from "../../layouts/Main.astro";
import NewCard from "../../components/pages/noticias/NewCard.astro";
import { getCollection } from "astro:content";
import { startOfDay } from "date-fns";

const blog = await getCollection("blog");
const posts = blog
  .filter(
    (post) =>
      import.meta.env.DEV ||
      (post.data.draft !== true &&
        startOfDay(post.data.publishedDate) <= new Date()),
  )
  .sort(
    (postA, postB) =>
      postB.data.publishedDate.getTime() - postA.data.publishedDate.getTime(),
  );
---

<MainLayout title="Noticias">
  <div class="px-10 py-10 w-screen">
    <main class="relative mx-auto max-w-7xl">
      <h1 class="pt-10 pb-2.5 text-4xl font-semibold">Noticias</h1>

      <div
        class="grid gap-4 sm:grid-cols-2 xl:grid-cols-3"
        style="grid-auto-rows: 1fr;"
      >
        <!-- <NewCard class="w-full" item={posts[0]} emphasize />

        {
          posts.slice(1).map(post => <NewCard item={post} />)
        } -->
        {posts.map((post) => <NewCard item={post} />)}
      </div>
    </main>
  </div>
</MainLayout>
