---
import UIButton from "../ui/Button.vue";
---

<section
  class="flex flex-row flex-wrap gap-8 justify-evenly items-stretch mt-4"
>
  <div class="platino shadow-primary/70">
    <div>
      <p class="level-title">Platino</p>
      <p class="level-detail">Desde 2500€ | Hasta 3</p>
    </div>

    <ul class="level-benefits">
      <li>
        <span class="i-tabler-check"></span> Posibilidad de dar una charla de 40
        minutos con contenido relativo al congreso a todos los asistentes
      </li>
      <li>
        <span class="i-tabler-check"></span> Presencia en el mailing del congreso
      </li>
      <li>
        <span class="i-tabler-check"></span> Nombre de una de las salas de workshops
        y posibilidad de decorarla internamente como se desee, con su repercusión
        posterior en fotos, vídeos, etc
      </li>
      <li>
        <span class="i-tabler-check"></span> Mención en los vídeos del evento
      </li>
      <li>
        <span class="i-tabler-check"></span> Mención en todos los anuncios relativos
        al evento
      </li>
      <li class="level-benefits-previous">
        <span class="i-tabler-plus"></span> Beneficios de <span
          class="oro level-identifier">Oro</span
        >
      </li>
    </ul>

    <UIButton
      event="Mecenas Platino Contacta"
      href="mailto:enem2025@anem.es"
      class="absolute bottom-2 right-2.5 left-2.5"
    >
      <span class="-mb-1 i-tabler-mail size-5"></span> Contáctanos
    </UIButton>
  </div>

  <div class="oro">
    <div>
      <p class="level-title">Oro</p>
      <p class="level-detail">Desde 1500€ | Hasta 5</p>
    </div>

    <ul class="level-benefits">
      <li>
        <span class="i-tabler-check"></span> Posibilidad de hacer una Pechakucha
        (una presentación de 20 diapositivas con 20 segundos cada una)
      </li>
      <li>
        <span class="i-tabler-check"></span> Roll-up con el logo de los mecenas en
        zona de paso cada día
      </li>
      <li>
        <span class="i-tabler-check"></span> Posibilidad de colocar material de visibilidad
        de marca en el congreso, previa aprobación de la localización por parte de
        la organización
      </li>
      <li>
        <span class="i-tabler-check"></span> Logo en el Photocall del evento
      </li>
      <li class="level-benefits-previous">
        <span class="i-tabler-plus"></span> Beneficios de <span
          class="plata level-identifier">Plata</span
        >
      </li>
    </ul>

    <UIButton
      event="Mecenas Platino Contacta"
      href="mailto:enem2025@anem.es"
      class="absolute bottom-2 right-2.5 left-2.5"
    >
      <span class="-mb-1 i-tabler-mail size-5"></span> Contáctanos
    </UIButton>
  </div>

  <div class="plata">
    <div>
      <p class="level-title">Plata</p>
      <p class="level-detail">Desde 800€ | Hasta 10</p>
    </div>

    <ul class="level-benefits">
      <li>
        <span class="i-tabler-check"></span> Posibilidad de realizar uno de los retos
        diarios con un premio a elección, limitado a cuatro
      </li>
      <li>
        <span class="i-tabler-check"></span> Apartado / Noticia propia en la web
        con información sobre el mecenas aportada por el mismo
      </li>
      <li>
        <span class="i-tabler-check"></span> Entrega de currículums de los asistentes
        que lo faciliten y organización de entrevistas a los candidatos seleccionados
        por la entidad
      </li>
      <li class="level-benefits-previous">
        <span class="i-tabler-plus"></span> Beneficios de <span
          class="bronce level-identifier">Bronce</span
        >
      </li>
    </ul>

    <UIButton
      event="Mecenas Platino Contacta"
      href="mailto:enem2025@anem.es"
      class="absolute bottom-2 right-2.5 left-2.5"
    >
      <span class="-mb-1 i-tabler-mail size-5"></span> Contáctanos
    </UIButton>
  </div>

  <div class="bronce">
    <div>
      <p class="level-title">Bronce</p>
      <p class="level-detail">Desde 250€ | Ilimitados</p>
    </div>

    <ul class="level-benefits">
      <li>
        <span class="i-tabler-check"></span> Presencia en el Foro de Empresas y Emprendimiento
      </li>
      <li>
        <span class="i-tabler-check"></span> Publicaciones en redes sociales sobre
        el colaborador
      </li>
      <li>
        <span class="i-tabler-check"></span> Posibilidad de dar un taller a 30 asistentes
        aproximadamente
      </li>
      <li>
        <span class="i-tabler-check"></span> Posibilidad de proveer material promocional
        para el kit de bienvenida
      </li>
      <li class="level-benefits-previous">
        <span class="i-tabler-plus"></span> Beneficios de <span
          class="colaborador level-identifier">Colaborador</span
        >
      </li>
    </ul>

    <UIButton
      event="Mecenas Platino Contacta"
      href="mailto:enem2025@anem.es"
      class="absolute bottom-2 right-2.5 left-2.5"
    >
      <span class="-mb-1 i-tabler-mail size-5"></span> Contáctanos
    </UIButton>
  </div>

  <div class="colaborador">
    <div>
      <p class="level-title">Colaborador</p>
      <p class="level-detail !text-xs text-nowrap !-ml-2.5">
        Colaboración / Especie | Ilimitados
      </p>
    </div>

    <ul class="level-benefits">
      <li>
        <span class="i-tabler-check"></span> Posibilidad de realizar concursos y
        sorteos entre los asistentes
      </li>
      <li>
        <span class="i-tabler-check"></span> Posibilidad de usar el logo del congreso
        en su propia publicidad hasta el 31 de diciembre de 2025, sujeto a disponibilidad
        y aprobación
      </li>
    </ul>

    <UIButton
      event="Mecenas Platino Contacta"
      href="mailto:enem2025@anem.es"
      class="absolute bottom-2 right-2.5 left-2.5"
    >
      <span class="-mb-1 i-tabler-mail size-5"></span> Contáctanos
    </UIButton>
  </div>
</section>

<style scoped>
  p {
    padding: 0;
    margin: 0;
  }

  .platino {
    --this-color: #e5e4e2;
    scale: 1.03;
  }
  .oro {
    --this-color: #ffbf00;
    /* scale: 1.02; */
  }
  .plata {
    --this-color: /* #c0c0c0 */ #bab7b2;
    /* scale: 1.01; */
  }
  .bronce {
    --this-color: #cd7f32;
  }
  .colaborador {
    --this-color: #fda575;
  }

  section > div {
    @apply border-2 rounded-lg relative;
    border-color: var(--this-color);
    width: 250px;
    padding: 0;
    padding-bottom: 3rem;
  }

  /* .platino, */
  .oro,
  .plata {
    box-shadow: var(--this-color) 0px 5px 15px 0px;
  }

  /* TODO Imprive */
  .platino {
    box-shadow: var(--tw-shadow-color) 0px 0px 35px 0px;
  }

  section > div > div {
    background-color: var(--this-color);
    padding: 2rem;
    text-align: center;
  }

  .level-title,
  .level-detail {
    @apply text-dark;
  }

  .level-title {
    @apply font-black text-2xl;
  }

  .level-detail {
    @apply text-sm mt-0.5;
  }

  .level-benefits {
    @apply list-none list-inside pl-0;
    margin: 1rem;
  }

  .level-benefits span {
    /* display: inline-block; */
    margin-bottom: -2px;
  }

  .level-benefits-previous {
    @apply font-semibold;
  }

  .level-benefits-previous .level-identifier {
    @apply bg-[var(--this-color)] text-dark p-1 rounded-lg !shadow-none font-black;
  }
</style>
