:root { 
  --oro: #ffbf00;
  --plata: #bab7b2;
  --bronce: #cd7f32;
}

body {
  font-family: "Montserrat Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-lexend {
  font-family: "Lexend Deca Variable", sans-serif;
}

a {
  @apply text-primary hover:text-secondary transition-colors;
}



