---
interface Props {
  words: string[];
}

const { words } = Astro.props;
---

<span class="overflow-y-hidden h-min">
  <span class="text-slide w-max h-min relative">
    {
      words.map((w, idx) => (
        <span
          class="block left-0"
          style={{
            top: `${idx * 1.2 - 0.1}lh`,
          }}
        >
          {w}
        </span>
      ))
    }

    <span
      class="block absolute left-0"
      style={{
        top: `${words.length * 1.2 - 0.1}lh`,
      }}>{words[0]}</span
    >
  </span>
</span>

<style>
  .text-slide {
    animation: slide 10s linear 0s infinite;
  }

  @keyframes slide {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
  }
</style>
