---
import Search from "astro-pagefind/components/Search";
---

<!-- TODO Autofocus input -->
<div
  id="search-modal"
  class="overflow-y-scroll fixed inset-0 z-20 bg-white dark:bg-dark"
>
  <Search
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const overlay = document.getElementById("search-modal");
    overlay.addEventListener("click", (e) => {
      if (e.target === overlay)
        overlay.removeAttribute("data-open");
  })})
</script>

<style scoped>
  #search-modal {
    display: none;

    top: var(--header-height);
  }

  #search-modal[data-open] {
    display: block;
  }
</style>

<style is:global>
  .pagefind-ui {
    @apply p-5;
    --pagefind-ui-text: #2c2c2c;
  }

  @media (prefers-color-scheme: dark) {
    .pagefind-ui {
      --pagefind-ui-text: #eaeaea;
    }

    .pagefind-ui form > * {
      background: #2c2c2c !important;
    }
  }
</style>
