---
interface Props {
  href: string,
  event?: string,
  target?: string
}

const { href, event, target } = Astro.props
---


<a
data-umami-event={event}
{href}
class="block w-full text-center font-bold mt-2 bg-transparent !text-dark dark:!text-clear px-2 py-1
rounded-lg shadow hover:shadow-lg hover:shadow-secondary-400 dark:hover:shadow-lg
hover:scale-[1.03] transition-all cursor-pointer no-underline hover:text-clear border-2 border-secondary _animate-spin"
{target}> <slot /> </a>